$for(posts)$

<div class="row">
  <div class="col-lg-6 col-lg-6">
    <div class="col-lg-5 col-lg-offset-5">
      <a href="$url$">
        <img class="img-responsive" src="/$basename$/images/headshot.png" alt="">
      </a>
    </div>
  </div>

  <div class="col-lg-6 col-lg-6">
    <h3>$author$</h3>
    <h4>$title$</h4>
    <h3><small> $subheading$</small></h3>
    <p>$bio$</p>
    <a class="btn btn-primary" href="$url$">Read <span class="glyphicon glyphicon-chevron-right"></span></a>
  </div>

</div>

<div class="row">
  <div class="col-lg-12 col-lg-12">
    <hr />
  </div>
</div>

$endfor$
